<div >
    <div class=" p-4 d-flex justify-content-center mt-5 tabla-main">
        <table class="table table-light table-striped table-hover table-responsive-sm  ">
          <thead class=" text-center ">
            <tr>
             
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Cantidad</th>
    
            </tr>
          </thead>
          <tbody class="text-center table-group-divider">
            
            <tr *ngFor="let articulo of articulos">
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.categoria }}</td>
                <td>{{ articulo.precio | currency }}</td>
                
              <td class="d-flex justify-content-center align-items-center">
                <button class="btn btn-sm boton-td-green " (click)="incrementQuantity(articulo.id)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                  </svg>
                </button>
                {{ articulo.cantidad }}
                <button class="btn btn-sm boton-td-red me-2"  (click)="decrementQuantity(articulo.id)" >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        
          <tfoot >
              <tr class="table-success">
               <!-- <td colspan="1" class="text-center"><strong>Total:</strong></td>
                
                <td colspan="1" class="text-center">{{ calculateTotal()| currency }}</td>
                <td colspan="1" class="text-center"></td>
                <td class="text-center">
                  <button class="btn btn-danger" (click)="resetCart()">Reset</button>
                </td>
                 -->
              </tr>
            </tfoot>
    
        </table>
      </div>
</div>
