<div [ngSwitch]="operation" class="mt-3">
    <!-- Caso: Insertar Usuario -->
    <div *ngSwitchCase="'insert'">
      <div class="card mx-auto mt-5 w-75">
        <div class="card-header bg-info text-white">
          <h4 class="mb-0 ms-3">Insertar Nuevo Usuario</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="insertUsuario()" #insertForm="ngForm">
            <div class="row g-3 px-3 mt-3">
              <div class="col-md-4">

                <div class="form-floating mb-3 mt-4">
                  <input type="text" class="form-control" id="floatingInput" placeholder="name"
                  required [(ngModel)]="newUser.username" name="usernameUpdate">
                  <label for="floatingInput">Username</label>
                  
                </div>
                <!--
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Escribe el username" 
                       required [(ngModel)]="newUser.username" name="username"> -->
              </div>
              <div class="col-md-4">

                <div class="form-floating mb-3 mt-4">
                  <input type="password" class="form-control" id="floatingInput" placeholder="password"
                  required [(ngModel)]="newUser.password" name="password">
                  <label for="floatingInput">Contraseña</label>
                  
                </div>
                <!--
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" placeholder="Escribe el password" 
                       required [(ngModel)]="newUser.password" name="password"> -->
              </div>
              <div class="col-md-4">

                <div class="form-floating mt-4">
                  <select class="form-select " id="floatingSelect" aria-label="Permiso"
                  [(ngModel)]="newUser.permiso" name="permiso" required="">
                   
                    <option value="1">Seller</option>
                    <option value="2">Admin</option>
                    
                  </select>
                  <label for="floatingSelect">Permiso</label>
                </div>
                <!--
                <label for="permiso" class="form-label">Permiso</label>
                <input type="number" id="permiso" class="form-control" required 
                       [(ngModel)]="newUser.permiso" name="permiso"> -->
              </div>
              <!--
              <div class="col-md-2">
                <label for="enabled" class="form-label">Enabled</label>
                <input type="number" id="enabled" class="form-control" required 
                       [(ngModel)]="newUser.enabled" name="enabled">
              </div> -->
            </div>
            <div class="d-flex justify-content-end mt-5">
              <button class="btn btn-success me-3" type="submit" [disabled]="insertForm.invalid">Insertar</button>
              <button class="btn btn-secondary me-3" type="button" (click)="setMode('none')">Volver</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Caso: Actualizar Usuario -->
    <div *ngSwitchCase="'update'">
      <div class="card mx-auto mt-5 w-75 ">
        <div class="card-header bg-info text-white">
          <h4 class="mb-0 ms-3">Actualizar Usuario</h4>
        </div>
        <div class="card-body">
          <div class="row g-3 mt-2 mb-5 px-3">
            <div class="col-md-4">
              <!--
              <label for="usernameUpdate" class="form-label">Username</label>
              <input type="text" id="usernameUpdate" class="form-control" 
                     [(ngModel)]="selectedUser.username" disabled name="usernameUpdate">
                -->
              <div class="form-floating mb-3 mt-4">
                <input type="text" class="form-control" id="floatingInput" placeholder="name"
                [(ngModel)]="selectedUser.username" disabled name="usernameUpdate">
                
              </div>
                     
            </div>
            <div class="col-md-4">

              <div class="form-floating mb-3 mt-4">
                <input type="password" class="form-control" id="floatingInput" placeholder="password"
                [(ngModel)]="selectedUser.password" name="passwordUpdate"   name="password">
                <label for="floatingInput">Contraseña</label>
                
              </div>

              <!--
              <label for="passwordUpdate" class="form-label">Password</label>
              <input type="password" id="passwordUpdate" class="form-control" placeholder="Nuevo password (opcional)"
                     [(ngModel)]="selectedUser.password" name="passwordUpdate">
                      -->
            </div>
            <div class="col-md-4">

              <div class="form-floating mt-4">
                <select class="form-select " id="floatingSelect" aria-label="Permiso"
                [(ngModel)]="selectedUser.permiso" name="permisoUpdate">
                 
                  <option value="1">Seller</option>
                  <option value="2">Admin</option>
                  
                </select>
                <label for="floatingSelect">Permiso</label>
              </div>
              <!--
              <label for="permisoUpdate" class="form-label">Permiso</label>
              <input type="number" id="permisoUpdate" class="form-control" required 
                     [(ngModel)]="selectedUser.permiso" name="permisoUpdate">
                     -->
            </div>
            
          </div>
          <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-success me-2" (click)="updateUsuario()">Guardar Cambios</button>
            <button class="btn btn-secondary me-3" (click)="setMode('none')">Volver</button>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Caso por defecto: Listado de Usuarios -->
    <div *ngSwitchDefault>
      <div class="p-4 d-flex justify-content-center mt-5">
        <table class="table table-light table-striped table-hover table-responsive-sm">
          <thead class="text-center">
            <tr>
              <th>Id</th>
              <th>Username</th>
              <th>Permiso</th>
              
              <th>Acción</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let usuario of paginatedUsuarios">
              <td>{{ usuario.id }}</td>
              <td>{{ usuario.username }}</td>
              <td>{{ usuario.permiso }}</td>
             
              <td>
                <div class="d-flex justify-content-center align-items-center flex-nowrap">
                  <button class="btn btn-sm me-2" (click)="setMode('update', usuario)" type="button">
                    <!-- Icono de actualizar -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-success" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706l-1 1a.5.5 0 0 1-.707 0L13 2.707l1-1a.5.5 0 0 1 .707 0l.795.793z"/>
                      <path d="M13.5 3.207l-10 10V15h1.793l10-10-1.793-1.793z"/>
                    </svg>
                  </button>
                  <button class="btn btn-sm" *ngIf="usuario.id" (click)="deleteUsuario(usuario.id)" type="button">

                    <!-- Icono de eliminar -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash text-danger" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Paginación y botón para insertar usuario -->
      <div class="d-flex justify-content-center align-items-center">
        
        <nav class="mt-3 me-2">
          <ul class="pagination justify-content-center">
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="i + 1 === currentPage">
              <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
            </li>
          </ul>
        </nav>
        
        <button class="btn btn-warning" (click)="setMode('insert')" type="button">Insert Usuario</button>
      </div>
    </div>
  </div>
  